.register-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  
  padding: 0 25px;
}

.register-screen .create-account-button {
  margin: 20px auto 0 auto;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.25em;
  background-color: #09629E;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.137), 0 1px 10px 0 rgba(0, 0, 0, 0.096), inset 0 -3px 1px 0 rgba(0, 0, 0, 0.13);
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}

.register-box-style {
  width: 100%;
}

.label-register-box-style {
  margin-bottom: -15px;
}

.register-box-select-option-style {
  width: 100%;
  margin-top: 15px;
}

.register-back-icon-style {

  width: 100%;

}